body {
    color: #fff; /*Цвет текста*/
    font-family: "Roboto", sans-serif; /* Шрифт на странице*/
    background: #14131a url("../img/background.jpg") no-repeat center/100%; /*Картинка для заднего фона, не повторяется и расположена сверху справа
                                                                        Вторая картинка занимает 100% ширины и имеет фон где нет картинки*/
}
.conteiner {
    width: 90%;
    margin: auto; /* Выровняли шапку по центру*/
}
.venom {
    position: absolute; /*Абсолютное позиционирование*/
    top: 0;
    right: 0;
    max-width: 728px;
    width: 55%;
    transition: top 1s;
}
.container-index {
    height: 699px;
}
/* Нав меню*/
.header {
    display: flex; /*Лого и меню распологаем в одну строку*/
    align-items: center; /* Элементы располагаются по центру*/
    margin-top: 40px; /*Отступ от верха страницы*/
    margin-bottom: 80px; /*Отступ снизу*/
}
.logo-link {
    display: inline-block; /*Занимает места столько, сколько и сам логотип*/
    margin-right: 50px; /*Отступ от логотипа в 50п*/
}
.nav-menu {
    margin: 0; /* Внешние отступы*/
    padding: 0; /* Внутренний отступ*/
    list-style: none; /* Убираем точки в списке*/
    display: flex; /*Располагаем элементы списка в одну строку*/
}
.nav-menu-item {
    margin-right: 30px; /*Отступ в меню навигазии 30п справа у каждого элемента*/
}
.nav-menu-link {
    text-decoration: none; /* Убираем подчеркивание ссылок*/
    color: rgba(255, 255, 255, 0.5);
}
/*Секция о фильме*/
.film-date {
    display: block; /*Делаем блок дта блочным, для переноса строки*/
    font-size: 24px;
    line-height: 28px; /* Межстрочный интервал*/
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 2%;
}
.film-description {
    margin-top: 3%;
    max-width: 423px;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}
.film-logo {
    width: 70%;
}
/*Секция кнопок*/
.button {
    padding: 15px 30px; /*Внутренние отступы сверху/снизу 15п, по краям 30п*/
    border: none; /*Отключение обводки кнопки*/
    border-radius: 5px; /*Скругление углов кнопки*/
    text-decoration: none; /*Убираем подчеркивание у ссылок*/
    cursor: pointer; /*Меняет курсор на палец*/
}
.button-img,
.button-text {
    display: inline-block;
    vertical-align: middle; /*выравниваем иконку с текстом по вертикале*/
}
.button-text {
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
}
.button-primary {
    color: #8d0019;
    background-color: #fff;
}
.button-link {
    color: #fff;
}
.button-group {
    margin-top: 5%;
}

.blood {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: -1;
}
.blood-ab {
    position: absolute;
    left: -30px;
    top: -20px;
}
.bloodimg {
    margin-top: 60px;
    margin-left: 5px;
}

/*Страница О фильме*/
.content {
    display: flex;
}
.col {
    flex-basis: 50%; /*Каждая из колонок занимает по половине контента*/
}
.content-title {
    font-size: 36px;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 21px;
    margin-top: 0;
}
.content-text {
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
    max-width: 423px;

    margin-bottom: 30px;
}
.content-sub {
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 15px;
    margin-top: 0px;
}
.content .list {
    margin: 0; /* Внешние отступы*/
    padding: 0; /* Внутренний отступ*/
    list-style: none;
}
.list-item {
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}
.column-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; /*Делит список на две колонки*/
    column-gap: 20px; /*Расстояние между колонками*/
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    max-width: 350px;
}
.content .trailer {
    width: 356px;
    height: 205px;
    background: url(../img/trailer-cover.jpg) no-repeat center/100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center; /*Выравнивает кнопку ровно по середине*/
    margin-top: 33px;
}
.trailer .play {
    width: 22px;
    height: 22px;
    border-radius: 50px;
    border: none;
    padding: 16px;
    cursor: pointer;
    background-color: #fff;
}
.play-icon {
    padding-left: 4px;
    padding-top: 2px;
}
.poster-wrap {
    display: flex;
    position: relative;
}
.poster {
    width: 362px;
    height: 543px;
    border-radius: 5px;
    margin-right: 0;
}
.poster-wrap .list {
    margin-bottom: 20px;
    min-width: 109px;
}
.poster-wrap .content-sub {
    margin-bottom: 5px;
}
.menu-button {
    display: none;
}
.menu-close {
    display: none;
}
.blood-poster {
    width: 350px;
}
.bloodBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
@media (max-width: 768px) {
    body {
        background: #14131a;
    }
    .venom {
        top: 13%;
        width: 50%;
    }
    .hide-form {
        display: none;
    }
}
@media (max-width: 576px) {
    .hide-form {
        right: 0;
        width: 100vm;
    }
    .order-trigger {
        margin: 0 auto;
    }
    .nav-menu {
        /* display: none;*/
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.2s;
    }
    .nav-menu-item {
        margin-top: 2%;
        margin-right: 0;
    }
    .menu-close {
        position: fixed;
        opacity: 0;
        right: 25px;
        top: 65px;
        display: flex;
        align-items: center;
        z-index: 10;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transform: translateX(300%);
        transition: transform 0.2s;
        transition-delay: 0.2s;
    }
    .is-active {
        transform: translateX(0);
        opacity: 0.95;
    }
    .menu-close-text {
        margin-right: 10px;
    }
    .nav-menu-link {
        color: #14131a;
        margin-bottom: 3%;
    }
    .nav {
        margin-left: auto;
    }
    .menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: none;
        background-color: #14131a;
        color: #fff;
        cursor: pointer;
        margin-left: auto;
    }
    .menu-button-text {
        margin-right: 11px;
        font-size: 14px;
        line-height: 16px;
    }
    /*переносит на другую строку и центрируем*/
    .button-group {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .poster-wrap {
        position: relative;
        flex-direction: column;
    }
    .poster,
    .blood-poster {
        max-width: 350px;
        margin-bottom: 4%;
        margin-right: 0;
        width: 100%;
        height: 100%;
    }
    .film-description {
        width: 80%;
    }
    .content .trailer {
        max-width: 350px;
        width: 100%;
    }
    .column-2 {
        column-count: 1;
    }
    .blood-ab {
        left: 0;
        top: 0;
    }
    .creators {
        margin-top: 543px;
    }
}
@media (max-width: 1024px) {
    .content {
        flex-direction: column;
    }

    .col {
        margin-bottom: 5%;
    }
    .header {
        margin-bottom: 4%;
    }
    .film {
        margin-top: 10%;
    }
}
.hide-form {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    bottom: -100vh;
    right: 60px;
    width: 320px;
    max-height: 100vh;
    overflow-y: auto;
    -webkit-transition: bottom 0.5s linear;
    transition: bottom 0.5s;
}
.hide-form-active {
    bottom: 0 !important;
}
.hide-form a {
    color: inherit;
    font-style: italic;
}
.order-ticket {
    height: 430px;
    background-color: #14131a;
    padding: 30px;
}
.order-trigger {
    width: 150px;
    height: 30px;
    display: block;
    margin-left: auto;
    background-color: #b30303;
    color: #efe8f4;
    cursor: pointer;
    padding: 0 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.order-trigger:hover {
    background-color: #4081af;
}
.order-ticket__form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
}
.order-ticket__description {
    margin-bottom: 15px;
}
.order-ticket__label {
    position: relative;
    padding-top: 10px;
    margin-bottom: 15px;
}

.order-ticket__label-text {
    position: absolute;
    padding: 0 5px;
    left: 10px;
    top: 15px;
    background-color: #14131a;
    transition: top 0.2s linear, border-color 0.5s linear;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.order-ticket__input {
    display: block;
    width: 100%;
    height: 35px;
    background-color: transparent;
    border: 1px solid #efe8f4;
    color: #efe8f4;
}
.order-ticket__label-focus .order-ticket__label-text,
.order-ticket__input:focus + .order-ticket__label-text,
.order-ticket__input:active + .order-ticket__label-text {
    top: 0;
    border-color: #4081af;
}
.order-ticket__label-focus .order-ticket__input,
.order-ticket__input:active,
.order-ticket__input:focus {
    border-color: #4081af;
    outline: none;
}
.order-ticket__preloader-wrapper {
    display: none;
}
.order-ticket__thanks-wrapper {
    display: none;
}
video {
    max-width: 100%;
}
